body {
  background: #F5F4EB;
  font-family: calibri, sans-serif;
}

#card {
  background: #fff;
  width: 20%;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 9px;
  box-shadow: 3px 3px 5px rgba(10, 10, 10, .5);
}

button {
  font-family: calibri, sans-serif;
  border: 2px solid #999;
  background: #eeeeee;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(5, 5, 5, .2);
  cursor: pointer;
}

h3 {
  margin: 0 0 10px 0;
}
